@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;800;900&display=swap");
@import url("https://css.gg/home.css");

#header img {
    width: 20%;
    height: 20%;
    margin: 1rem 1rem 1rem 2rem;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    color: #000000;
    background: rgb(250, 248, 248);
    position: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
    line-height: 1.5;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

:root {
    font-size: clamp(1rem, 1vw, 1.5rem);
}

#primary_nav_wrap {
    margin: 0rem 1rem 1rem 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.2;
    width: auto;
    display: block;
    text-align: center;
    top: 0;
    width: 100%;
    height: 50px;
}

#primary_nav_wrap ul {
    width: auto;
    display: block;
    font-size: 0;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 999999990;
    border-radius: 3px;
}

#primary_nav_wrap ul a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 8px 35px;
}

#primary_nav_wrap ul li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.primary_nav_wrap li.over .top-item {
    color: #ffffff;
    background-color: #77a6f7;
}

#primary_nav_wrap ul li.current-menu-item {
    background: #f0f002;
    border-radius: 20px;
}

#primary_nav_wrap ul li:hover {
    background: #e3dfdf;
    border-radius: 20px;
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
    display: block;
}

.slider {
    margin: auto;
    width: 66vw;
    height: 68vh;
    overflow: hidden;
    background-color: #b1b1b1;
    padding: 5px;
    border-radius: 8px;
    object-fit: contain;
    float: left;
    margin-left: 20px;
}
.slides {
    width: 900vw;
    height: 65vh;
    display: flex;
    object-fit: contain;
}
.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 66vw;
    height: 68vh;
}
.manual-navigation {
    position: absolute;
    width: 70vw;
    justify-content: center;
    display: flex;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}
#radio5:checked ~ .first {
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 70vw;
    margin: 575px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

.description a.link {
    font-size: 15px;
    border-radius: 50px;
    border-color: #cb1111;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 0px 50px auto;
}
.description {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    width: 300px;
    background: #47494a8f;
    border-radius: 10px;
    padding: 0px 35px 0px 75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

.news {
    max-height: 100vh - 8rem;
    max-width: 45vh;
    height: 58vh;
    width: 0ch + 5rem;
    overflow-x: auto;
    border: 1 px solid red;
    align-self: start;
    right: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    scroll-snap-type: y mandatory;
    scroll-padding: 0.25rem;
}
.news::-webkit-scrollbar {
    width: 1rem;
}

.news::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 0.75rem;
}

.news::-webkit-scrollbar-track {
    background-color: #e9e9e9;
    border-radius: 20px;
}
h1 {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    margin: 50px;
}
h2 {
    font-size: 20px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    color: #335899;
}
h3 {
    font-size: 35px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}
h4 {
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
    background-color: #ffffff;
    color: #2773a7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    margin: 50px;
    width: 65vw;
    border-radius: 20px;
    text-align: center;
    
}

h6 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #335899;
    padding: 10px;
    background-color: rgba(194, 230, 255, 0.506);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    margin: 50px;
    width: 35vw;
    border-radius: 8px;
}
.section p {
    font-size: 20px;
    margin: 50px;
    width: 35vw;
}
.responsabilidade p {
    font-size: 20px;
    margin: 50px;
}
.news .link {
    padding: 10px;
    border: 1px solid rgb(218, 216, 216);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    background-color: #f6f6f657;
}

.news tr {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}

.news table tr {
    border-bottom: 1px solid black;
    padding: 20px;
    background-color: #dddfe0;
    border-radius: 20px;
}
.news table {
    border-collapse: collapse;
}

.news td,
.news th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.timeline{
    max-height: 100vh ;
    max-width: 80vh;
    height: 70vh;
    width: 0ch + 5rem;
    overflow-x: auto;
    border: 1 px solid red;
    align-self: start;
    right: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    scroll-snap-type: y mandatory;
    scroll-padding: 0.25rem;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
 
  .section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;    
  }
  
  .section h1 {
    font-size: 2.5rem;
  }
  
  .section h2 {
    font-size: 1.3rem;
  }
    .timeline {
    white-space: nowrap;
    overflow-x: hidden;
    background-color: rgba(194, 230, 255, 0.506);
    border-radius: 10px;
    margin: 50px;    
  }
  
  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
  }
  
  .timeline ol li:last-child {
    width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F45B69;
  }
  
  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
  }
  
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  .timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .timeline .arrows .arrow__prev {
    margin-right: 20px;
  }
  
  .timeline .disabled {
    opacity: .5;
  }
  
  .timeline .arrows img {
    width: 45px;
    height: 45px;
  }
  
  @media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
      width: auto; 
    }
    
    .timeline ol {
      padding: 0;
      transform: none !important;
    }
    
    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }
    
    .timeline ol li:first-child {
      margin-top: 25px;
    }
    
    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }
    
    .timeline ol li div {
      width: 94%;
      height: auto !important;
      margin: 0 auto 25px;
    }
    
    .timeline ol li div {
      position: static;
    }
    
    .timeline ol li:nth-child(odd) div {
      transform: none;
    }
    
    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
    
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }
  }